<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://twpetanimal.ddns.net:9487/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>13.112.27.9</MSDeployServiceURL>
    <DeployIisAppPath>WEBAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>EC2AMAZ-H0IOIP8\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="petstationEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WEBAPI_Animal.Models.petstationEntities, WEBAPI_Animal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WEBAPI_Animal.Models.ApplicationDbContext, WEBAPI_Animal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="petstationViewEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=petanimal.cona4vag8col.ap-northeast-1.rds.amazonaws.com,9453;Initial Catalog=petstation;Persist Security Info=True;User ID=CR4Admin;Password=CR4at1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\petstationViewEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AllViewModel.csdl|res://*/Models.AllViewModel.ssdl|res://*/Models.AllViewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=petanimal.cona4vag8col.ap-northeast-1.rds.amazonaws.com,9453;initial catalog=petstation;persist security info=True;user id=CR4Admin;password=CR4at1234;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="petstationEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=petanimal.cona4vag8col.ap-northeast-1.rds.amazonaws.com,9453;Initial Catalog=petstation;Persist Security Info=True;User ID=CR4Admin;Password=CR4at1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\petstationEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ALLModel.csdl|res://*/Models.ALLModel.ssdl|res://*/Models.ALLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=petanimal.cona4vag8col.ap-northeast-1.rds.amazonaws.com,9453;initial catalog=petstation;persist security info=True;user id=CR4Admin;password=CR4at1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)petstationEntities-Web.config Connection String" />
  </ItemGroup>
</Project>